<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{body}}</h1>
    {% for n in clist %}
    <p>{{forloop.counter}}.{{n}}</p> 
    <!-- forloop.counter0,forloop.revcounter,forloop.revcounter0,forloop.first,forloop.last can also be used -->
    {% endfor %}

    <table border="1" cellpadding="10">
        <tr >
            <th>Name</th>
            <th>Location</th>
        </tr>
       {%for d in details %}
        <tr>
            <td>{{d.name}}</td>
            <td>{{d.location}}</td>
        </tr>
        {% endfor %}
    </table>

    {% if numbers|length > 0 %}
        {% for n in numbers %}

            {% if n > 20%}
                <div>{{n}}</div>
            {% endif %}
        {% endfor %}
    {% else %}
       Don't found any data
    {% endif %}

    {% if hello|length > 0 %}
        {% for n in hello %}
            {% if n > 12 %}
               {{n}}
            {% endif %}
        {% endfor %}
    

    {% else %}
      <h1>don't found any data </h1>
    {% endif %}
</body>
</html>